*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Titillium Web', sans-serif;
	
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}


button {
  padding: 30px;
  margin: 30px;
  text-decoration: none;
  background: #fff;
  width: 30%;
  box-shadow: 0 8px 32px 0 rgb(93 6 137 / 47%);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 20px;
  display: flex;
  justify-content: center;
  border:none;
  
}

button:hover {
  background-color: rgba(202, 40, 162, 0.37);
}

button:hover a {
  color: white;
}

button a, active
{
	text-decoration: none;
}

